@font-face {
  font-family: "iconfont"; /* Project id 4171024 */
  src: url('iconfont.woff2?t=1690378275173') format('woff2'),
       url('iconfont.woff?t=1690378275173') format('woff'),
       url('iconfont.ttf?t=1690378275173') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e637";
}

.icon-editor-background:before {
  content: "\e829";
}

.icon-erweima1:before {
  content: "\e600";
}

.icon-text:before {
  content: "\e6bc";
}

.icon-link-outline:before {
  content: "\e9d2";
}

.icon-unlink-outline:before {
  content: "\ea38";
}

.icon-fuzhi:before {
  content: "\e624";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-zitishanchuxian:before {
  content: "\ec84";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zuoduiqi:before {
  content: "\ec86";
}

.icon-xingzhuang:before {
  content: "\e82b";
}

.icon-delete:before {
  content: "\e61b";
}

.icon-layer:before {
  content: "\e61c";
}

.icon-templet-:before {
  content: "\e645";
}

.icon-chexiao:before {
  content: "\e63b";
}

.icon-huifu:before {
  content: "\e63d";
}

.icon-liangduanduiqi:before {
  content: "\e61d";
}

.icon-suoding_huaban:before {
  content: "\e625";
}

.icon-wenzigongju-shupai:before {
  content: "\e82f";
}

.icon-lvjing:before {
  content: "\e73f";
}

.icon-italic:before {
  content: "\e61e";
}

.icon-zuoyoufanzhuan:before {
  content: "\e622";
}

.icon-shangxiafanzhuan:before {
  content: "\e623";
}

.icon-wenzi:before {
  content: "\e674";
}

.icon-wenzijianju:before {
  content: "\e6b3";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-biaochi:before {
  content: "\e627";
}

.icon-shuipingjuzhongduiqi:before {
  content: "\e63f";
}

.icon-zuoduiqi1:before {
  content: "\edfd";
}

.icon-xiaduiqi:before {
  content: "\edfe";
}

.icon-shangduiqi:before {
  content: "\edff";
}

.icon-youduiqi1:before {
  content: "\ee00";
}

.icon-chuizhijuzhongduiqi:before {
  content: "\e628";
}

.icon-actualsize:before {
  content: "\e666";
}

.icon-hand-grab-o:before {
  content: "\e6ac";
}

.icon-xuanze:before {
  content: "\e62b";
}

.icon-cengji:before {
  content: "\e630";
}

.icon-CZ_021:before {
  content: "\e62c";
}

.icon-CZ_023:before {
  content: "\e62d";
}

.icon-zhidi1:before {
  content: "\e640";
}

.icon-quanping1:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-jinzhi:before {
  content: "\e60d";
}

.icon-line-sipxiguangongju:before {
  content: "\e6ed";
}

.icon-slice-fill:before {
  content: "\e63e";
}

.icon-huizhi-01:before {
  content: "\e6e1";
}

.icon-huanyuan:before {
  content: "\e70f";
}

.icon-biankuang:before {
  content: "\e643";
}

.icon-chicun:before {
  content: "\e601";
}

.icon-tubiaozhizuomoban:before {
  content: "\e602";
}

.icon-palette:before {
  content: "\e70e";
}

.icon-unlock:before {
  content: "\e649";
}

.icon-caijian:before {
  content: "\e612";
}

.icon-liebiao:before {
  content: "\e616";
}

.icon-shipinbofang:before {
  content: "\e618";
}

.icon-zhaopian:before {
  content: "\e619";
}

.icon-background:before {
  content: "\e61a";
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-youduiqi:before {
  content: "\ec82";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

